.wrapper {
  display: flex;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.5rem;

  .logo-img {
    max-width: 100px;
    margin-right: 0.5rem;
  }

  .heading {
    font-size: clamp(0.9rem, calc(1vw + 1.2rem), 2.2rem);
  }
}
