.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0.5rem;

  .logo-img {
    max-width: 100px;
  }

  .heading {
    font-size: clamp(0.9rem, calc(1vw + 1.2rem), 2.2rem);
  }

  .logout-btn {
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 8px 30px;
    margin-top: 0.5rem;
    background-color: #ddd1b6;
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

@media screen and (min-width: 390px) {
  .logo-img {
    margin-right: 0.5rem;
  }
}

@media screen and (min-width: 535px) {
  .logout-btn {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 640px) {
  .logout-btn {
    margin-left: clamp(0.5rem, calc(10vw + 1.2rem), 10rem);
  }
}
